Importing Libraries

In [1]:
import pandas as pd
#for unique ids
import uuid
#for randomization
import random
#for syntesized data
from faker import Faker

No. Of users

In [2]:
num_users=100

Adding Features

ID-unique id
Gender-3 entries
Subsricber-Boolean
Name
Rating

In [3]:
# a list of features
features=["id",
"gender","subscriber","name","rating"]

Creating a dataframe for the above features

In [4]:
df=pd.DataFrame(columns=features)

In [5]:
df

Empty DataFrame
Columns: [id, gender, subscriber, name, rating]
Index: []

Generate Unique identifiers

In [7]:
df["id"]=[uuid.uuid4().node for i in range(num_users)]#adding the randmoly genrated ids
df

                 id gender subscriber name rating
0   147862467616183    NaN        NaN  NaN    NaN
1    52734239559710    NaN        NaN  NaN    NaN
2   207781231427915    NaN        NaN  NaN    NaN
3   135604083362392    NaN        NaN  NaN    NaN
4   174326575082582    NaN        NaN  NaN    NaN
..              ...    ...        ...  ...    ...
95  280822845604839    NaN        NaN  NaN    NaN
96   93233478449510    NaN        NaN  NaN    NaN
97   18461790421820    NaN        NaN  NaN    NaN
98  160052837140583    NaN        NaN  NaN    NaN
99  118354614260476    NaN        NaN  NaN    NaN

[100 rows x 5 columns]

In [9]:
print(df["id"].nunique()==num_users)#checking if there is any duplicate value

True

Generating Gender Values

In [ ]:
genders=["Male","Female","NA"]#genders list
df["gender"]=random.choices(genders,weights=(45,45,10),k=num_users)
df

                 id  gender subscriber name rating
0   147862467616183    Male        NaN  NaN    NaN
1    52734239559710    Male        NaN  NaN    NaN
2   207781231427915    Male        NaN  NaN    NaN
3   135604083362392  Female        NaN  NaN    NaN
4   174326575082582    Male        NaN  NaN    NaN
..              ...     ...        ...  ...    ...
95  280822845604839  Female        NaN  NaN    NaN
96   93233478449510    Male        NaN  NaN    NaN
97   18461790421820  Female        NaN  NaN    NaN
98  160052837140583  Female        NaN  NaN    NaN
99  118354614260476  Female        NaN  NaN    NaN

[100 rows x 5 columns]

In [17]:
df.gender.value_counts()#counting all 3 genders

gender
Male      48
Female    47
NA         5
Name: count, dtype: int64

Generating Choices of Subsrciber

In [ ]:
choice=[True,False]#boolean list
df["subscriber"]=random.choices(choice,weights=(60,40),k=num_users)
df

                 id  gender  subscriber name rating
0   147862467616183    Male        True  NaN    NaN
1    52734239559710    Male       False  NaN    NaN
2   207781231427915    Male        True  NaN    NaN
3   135604083362392  Female        True  NaN    NaN
4   174326575082582    Male       False  NaN    NaN
..              ...     ...         ...  ...    ...
95  280822845604839  Female        True  NaN    NaN
96   93233478449510    Male        True  NaN    NaN
97   18461790421820  Female       False  NaN    NaN
98  160052837140583  Female       False  NaN    NaN
99  118354614260476  Female       False  NaN    NaN

[100 rows x 5 columns]

In [19]:
df.subscriber.value_counts()#counting the subsribers

subscriber
True     53
False    47
Name: count, dtype: int64

Generating Names For the Datasets

In [ ]:
#initalizing the function faker
faker=Faker(locale="FR_FR")
def name_gen(gender):
    if gender=="Male":
        return faker.name_male()
    elif gender=="Female":
        return faker.name_female()
    return faker.name()
#generating names using the function taking care of the gender as well

df["name"]=[name_gen(i) for i in df["gender"]]
df

                 id  gender  subscriber                      name rating
0   147862467616183    Male        True               David Klein    NaN
1    52734239559710    Male       False              Roland Paris    NaN
2   207781231427915    Male        True              André Allain    NaN
3   135604083362392  Female        True              Céline Duval    NaN
4   174326575082582    Male       False            Pierre Maurice    NaN
..              ...     ...         ...                       ...    ...
95  280822845604839  Female        True           Céline Lelièvre    NaN
96   93233478449510    Male        True         Éric de la Pierre    NaN
97   18461790421820  Female       False          Patricia Meunier    NaN
98  160052837140583  Female       False  Christine Weber-Valentin    NaN
99  118354614260476  Female       False               Alex Leroux    NaN

[100 rows x 5 columns]

Generating the Rating values

In [32]:
ratings=[1,2,3,4,5]
df["rating"]=random.choices(ratings,weights=(15,20,30,25,10),k=num_users)
df

                 id  gender  subscriber                      name  rating
0   147862467616183    Male        True               David Klein       4
1    52734239559710    Male       False              Roland Paris       3
2   207781231427915    Male        True              André Allain       4
3   135604083362392  Female        True              Céline Duval       3
4   174326575082582    Male       False            Pierre Maurice       4
..              ...     ...         ...                       ...     ...
95  280822845604839  Female        True           Céline Lelièvre       2
96   93233478449510    Male        True         Éric de la Pierre       4
97   18461790421820  Female       False          Patricia Meunier       4
98  160052837140583  Female       False  Christine Weber-Valentin       4
99  118354614260476  Female       False               Alex Leroux       4

[100 rows x 5 columns]

In [33]:
df.rating.value_counts()#counting the ratings

rating
3    32
4    28
2    17
1    12
5    11
Name: count, dtype: int64

Converting the dataframer to a csv

In [34]:
df.to_csv("Dataset1.csv")

Reading the csv again

In [35]:
#viewing the saved csv
csv_df=pd.read_csv("Dataset1.csv",index_col=0)
csv_df

                 id  gender  subscriber                      name  rating
0   147862467616183    Male        True               David Klein       4
1    52734239559710    Male       False              Roland Paris       3
2   207781231427915    Male        True              André Allain       4
3   135604083362392  Female        True              Céline Duval       3
4   174326575082582    Male       False            Pierre Maurice       4
..              ...     ...         ...                       ...     ...
95  280822845604839  Female        True           Céline Lelièvre       2
96   93233478449510    Male        True         Éric de la Pierre       4
97   18461790421820  Female       False          Patricia Meunier       4
98  160052837140583  Female       False  Christine Weber-Valentin       4
99  118354614260476  Female       False               Alex Leroux       4

[100 rows x 5 columns]